n8n-workflows/ai-content-automation.json
{
  "name": "AI 內容自動生產系統",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "每日排程觸發器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      }
    },
    {
      "id": "news-scraper",
      "name": "AI 新聞抓取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "parameters": {
        "url": "https://news.google.com/rss/search?q=AI+artificial+intelligence&hl=zh-TW",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "xml"
            }
          }
        }
      }
    },
    {
      "id": "content-filter",
      "name": "內容篩選器",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "relevant-content",
              "leftValue": "={{ $json.title }}",
              "rightValue": "AI|GPT|ChatGPT|Claude|機器學習|深度學習|人工智能",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "ai-writer",
      "name": "AI 文章生成器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"你是一位專業的 AI 教育內容撰寫專家，擅長 SEO 和 AEO 優化。請根據提供的資訊，撰寫符合以下結構的中文文章。\"}, {\"role\": \"user\", \"content\": \"請根據這則 AI 新聞撰寫一篇教學文章，並包含以下 AEO 欄位：1) seo_title, 2) keywords（用逗號分隔）, 3) search_intent, 4) target_audience, 5) pain_point, 6) scenario, 7) solution, 8) example（包含 wrong 和 right）, 9) faq（至少3組問答）, 10) semantic_tags。新聞標題：{{ $json.title }}，內容摘要：{{ $json.description }}。請確保內容由淺入深，適合台灣讀者。\"}] }}"
            },
            {
              "name": "response_format",
              "value": "{ \"type\": \"json_object\" }"
            }
          ]
        }
      }
    },
    {
      "id": "parse-ai-response",
      "name": "解析 AI 回應",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 解析 AI 生成的 JSON 回應\nconst response = $input.all()[0].json.choices[0].message.content;\nconst article = JSON.parse(response);\n\n// 生成分類\nconst categories = ['入門心法', '生活應用', '工作效率', '長輩友善', '進階技巧'];\nconst difficultyLevels = {\n  '入門心法': 1,\n  '生活應用': 2,\n  '工作效率': 3,\n  '長輩友善': 2,\n  '進階技巧': 5\n};\n\n// 根據關鍵詞自動分類\nlet selectedCategory = '入門心法';\nconst content = (article.solution || '') + (article.keywords?.join(' ') || '');\n\nif (content.includes('工作') || content.includes('效率') || content.includes('生產力')) {\n  selectedCategory = '工作效率';\n} else if (content.includes('日常') || content.includes('生活') || content.includes('實用')) {\n  selectedCategory = '生活應用';\n} else if (content.includes('長輩') || content.includes('家長') || content.includes('簡單')) {\n  selectedCategory = '長輩友善';\n} else if (content.includes('進階') || content.includes('複雜') || content.includes('高級')) {\n  selectedCategory = '進階技巧';\n}\n\n// 生成文章內容（結構化格式）\nconst articleContent = `\n## ${article.title}\n\n### 生活痛點\n${article.pain_point}\n\n### 應用場景\n${article.scenario}\n\n### AI 解決方案\n${article.solution}\n\n### 簡單實例\n#### ❌ 錯誤示範\n${article.example?.wrong || ''}\n\n#### ✅ 正確用法\n${article.example?.right || ''}\n\n### 實作步驟\n<ol>\n<li>準備工作：確保你有使用 ChatGPT 或其他 AI 工具的帳號</li>\n<li>情境設定：清楚描述你想要 AI 協助的場景</li>\n<li>提供背景：分享相關的前置資訊和限制</li>\n<li>明確指令：用清楚、具體的文字描述你的需求</li>\n<li>迭代優化：根據 AI 的回應調整你的指令</li>\n</ol>\n\n### 常見問題\n${article.faq?.map(f => `#### Q: ${f.question}\\nA: ${f.answer}`).join('\\n\\n')}\n\n### 總結\n${article.summary || ''}\n`;\n\nreturn {\n  json: {\n    category: selectedCategory,\n    title: article.title,\n    summary: article.summary || '',\n    content: articleContent,\n    read_time: '5 分鐘',\n    is_published: true,\n    seo_title: article.seo_title || '',\n    keywords: article.keywords || [],\n    search_intent: article.search_intent || '',\n    target_audience: article.target_audience || '',\n    pain_point: article.pain_point || '',\n    scenario: article.scenario || '',\n    solution: article.solution || '',\n    example: article.example || null,\n    faq: article.faq || [],\n    semantic_tags: article.semantic_tags || [],\n    relevance_score: 85,\n    popularity_score: 70,\n    published_at: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "dedup-check",
      "name": "內容去重檢查",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=id,title&or=(seo_title.eq.{{ $json.seo_title }},keywords.cs.{ {{ $json.keywords.join(',') } }})",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZueW1qZmZza25kZmdjcGN5ZHNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4MzgzNjEsImV4cCI6MjA4NDQxNDM2MX0.O36D4E23UyfJd8HeT7NuIRyEgiPHudywqz5b6VU9L18"
              }
            ]
          }
        }
      }
    },
    {
      "id": "duplicate-check",
      "name": "重複過濾器",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-duplicate",
              "leftValue": "={{ $json.body.length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insert-to-supabase",
      "name": "儲存到 Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZueW1qZmZza25kZmdjcGN5ZHNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg4MzgzNjEsImV4cCI6MjA4NDQxNDM2MX0.O36D4E23UyfJd8HeT7NuIRyEgiPHudywqz5b6VU9L18"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "read_time", "value": "={{ $json.read_time }}" },
            { "name": "is_published", "value": "true" },
            { "name": "seo_title", "value": "={{ $json.seo_title }}" },
            { "name": "keywords", "value": "={{ JSON.stringify($json.keywords) }}" },
            { "name": "search_intent", "value": "={{ $json.search_intent }}" },
            { "name": "target_audience", "value": "={{ $json.target_audience }}" },
            { "name": "pain_point", "value": "={{ $json.pain_point }}" },
            { "name": "scenario", "value": "={{ $json.scenario }}" },
            { "name": "solution", "value": "={{ $json.solution }}" },
            { "name": "example", "value": "={{ JSON.stringify($json.example) }}" },
            { "name": "faq", "value": "={{ JSON.stringify($json.faq) }}" },
            { "name": "semantic_tags", "value": "={{ JSON.stringify($json.semantic_tags) }}" },
            { "name": "relevance_score", "value": "={{ $json.relevance_score }}" },
            { "name": "popularity_score", "value": "={{ $json.popularity_score }}" },
            { "name": "published_at", "value": "={{ $json.published_at }}" }
          ]
        }
      }
    },
    {
      "id": "success-response",
      "name": "成功通知",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "每日排程觸發器": {
      "main": [
        [
          {
            "node": "AI 新聞抓取",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 新聞抓取": {
      "main": [
        [
          {
            "node": "內容篩選器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "內容篩選器": {
      "main": [
        [
          {
            "node": "AI 文章生成器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 文章生成器": {
      "main": [
        [
          {
            "node": "解析 AI 回應",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析 AI 回應": {
      "main": [
        [
          {
            "node": "內容去重檢查",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "內容去重檢查": {
      "main": [
        [
          {
            "node": "重複過濾器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重複過濾器": {
      "main": [
        [
          {
            "node": "儲存到 Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "儲存到 Supabase": {
      "main": [
        [
          {
            "node": "成功通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Taipei"
  }
}
