n8n-workflows/category-detection.json
{
  "name": "新興主題偵測與分類擴展系統",
  "nodes": [
    {
      "id": "weekly-trigger",
      "name": "每週排程觸發器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 7 }]
        }
      }
    },
    {
      "id": "fetch-recent-content",
      "name": "獲取近期內容",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=keywords,semantic_tags,category&order=created_at.desc&limit=50",
        "options": {
          "headers": {
            "headers": [
              { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" }
            ]
          }
        }
      }
    },
    {
      "id": "analyze-trends",
      "name": "分析趨勢主題",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 分析關鍵詞和語義標籤的頻率\nconst articles = $input.all();\nconst keywordFrequency = {};\nconst tagFrequency = {};\n\n// 統計關鍵詞頻率\narticles.forEach(article => {\n  const keywords = article.json.keywords || [];\n  keywords.forEach(kw => {\n    keywordFrequency[kw] = (keywordFrequency[kw] || 0) + 1;\n  });\n  \n  const tags = article.json.semantic_tags || [];\n  tags.forEach(tag => {\n    tagFrequency[tag] = (tagFrequency[tag] || 0) + 1;\n  });\n});\n\n// 找出高頻關鍵詞\nconst topKeywords = Object.entries(keywordFrequency)\n  .filter(([_, count]) => count >= 3) // 至少出現 3 次\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10) // 取前 10\n  .map(([keyword, count]) => ({ keyword, count }));\n\n// 找出高頻標籤\nconst topTags = Object.entries(tagFrequency)\n  .filter(([_, count]) => count >= 3)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 10)\n  .map(([tag, count]) => ({ tag, count }));\n\nreturn [{\n  json: {\n    top_keywords: topKeywords,\n    top_tags: topTags,\n    total_articles: articles.length,\n    analysis_date: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "get-existing-categories",
      "name": "獲取現有分類",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "parameters": {
        "method": "GET",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=category",
        "options": {
          "headers": {
            "headers": [
              { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" }
            ]
          }
        }
      }
    },
    {
      "id": "extract-categories",
      "name": "提取唯一分類",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const articles = $input.all();\nconst categories = new Set();\n\narticles.forEach(article => {\n  if (article.json.category) {\n    categories.add(article.json.category);\n  }\n});\n\nreturn [{\n  json: {\n    existing_categories: Array.from(categories)\n  }\n}];"
      }
    },
    {
      "id": "ai-category-suggestion",
      "name": "AI 分類建議生成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"你是內容分類專家，擅長分析主題趨勢並建議新分類。\"}, {\"role\": \"user\", \"content\": `根據以下數據分析：\\n\\n高頻關鍵詞：${JSON.stringify($json.top_keywords, null, 2)}\\n\\n高頻標籤：${JSON.stringify($json.top_tags, null, 2)}\\n\\n現有分類：${$json.existing_categories.join(', ')}\\n\\n請分析是否需要建立新分類。如果某個主題出現頻率很高且與現有分類不同，建議建立新分類。以 JSON 格式回應，包含：\\n{\\n  \"should_create_category\": true/false,\\n  \"suggested_categories\": [{\\n    \"name\": \"分類名稱\",\\n    \"reason\": \"為什麼需要這個分類\",\\n    \"related_keywords\": [\"相關關鍵詞列表\"],\\n    \"difficulty_level\": 1-5\\n  }]\\n}`} }] }}"
            },
            {
              "name": "response_format",
              "value": "{ \"type\": \"json_object\" }"
            }
          ]
        }
      }
    },
    {
      "id": "parse-suggestions",
      "name": "解析建議",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json.choices[0].message.content;\nconst suggestion = JSON.parse(response);\n\nif (!suggestion.should_create_category) {\n  return [{\n    json: {\n      action: 'no_new_category',\n      message: '沒有需要建立的新分類',\n      timestamp: new Date().toISOString()\n    }\n  }];\n}\n\n// 為每個建議分類生成項目\nconst items = suggestion.suggested_categories.map(cat => ({\n  json: {\n    action: 'suggest_new_category',\n    category_name: cat.name,\n    reason: cat.reason,\n    related_keywords: cat.related_keywords,\n    difficulty_level: cat.difficulty_level,\n    suggested_at: new Date().toISOString(),\n    status: 'pending_approval'\n  }\n}));\n\nreturn items;"
      }
    },
    {
      "id": "filter-new-suggestions",
      "name": "過濾新建議",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1780, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new-category",
              "leftValue": "={{ $json.action }}",
              "rightValue": "suggest_new_category",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "save-suggestion",
      "name": "保存建議",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 200],
      "parameters": {
        "method": "POST",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/category_suggestions",
        "options": {
          "headers": {
            "headers": [
              { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $json.category_name }}" },
            { "name": "reason", "value": "={{ $json.reason }}" },
            { "name": "related_keywords", "value": "={{ JSON.stringify($json.related_keywords) }}" },
            { "name": "difficulty_level", "value": "={{ $json.difficulty_level }}" },
            { "name": "status", "value": "pending" },
            { "name": "suggested_at", "value": "={{ $json.suggested_at }}" }
          ]
        }
      }
    },
    {
      "id": "send-notification",
      "name": "發送通知",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2220, 200],
      "parameters": {
        "fromEmail": "noreply@dee-website.com",
        "toEmail": "admin@dee-website.com",
        "subject": "=💡 新分類建議 - {{ $json.category_name }}",
        "text": "系統偵測到可能需要的新分類\\n\\n分類名稱: {{ $json.category_name }}\\n原因: {{ $json.reason }}\\n相關關鍵詞: {{ $json.related_keywords.join(', ') }}\\n\\n請前往後台查看並決定是否創建此分類。"
      }
    }
  ],
  "connections": {
    "每週排程觸發器": {
      "main": [[{ "node": "獲取近期內容", "type": "main", "index": 0 }]]
    },
    "獲取近期內容": {
      "main": [[{ "node": "分析趨勢主題", "type": "main", "index": 0 }]]
    },
    "分析趨勢主題": {
      "main": [[{ "node": "獲取現有分類", "type": "main", "index": 0 }]]
    },
    "獲取現有分類": {
      "main": [[{ "node": "提取唯一分類", "type": "main", "index": 0 }]]
    },
    "提取唯一分類": {
      "main": [[{ "node": "AI 分類建議生成", "type": "main", "index": 0 }]]
    },
    "AI 分類建議生成": {
      "main": [[{ "node": "解析建議", "type": "main", "index": 0 }]]
    },
    "解析建議": {
      "main": [[{ "node": "過濾新建議", "type": "main", "index": 0 }]]
    },
    "過濾新建議": {
      "main": [[{ "node": "保存建議", "type": "main", "index": 0 }]]
    },
    "保存建議": {
      "main": [[{ "node": "發送通知", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Taipei"
  }
}
