n8n-workflows/daily-content-generation.json
{
  "name": "每日教學內容自動生成系統",
  "nodes": [
    {
      "id": "daily-trigger",
      "name": "每日排程觸發器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      }
    },
    {
      "id": "get-categories",
      "name": "獲取分類列表",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=category",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "YOUR_SUPABASE_ANON_KEY"
              }
            ]
          }
        }
      }
    },
    {
      "id": "category-distributor",
      "name": "分類分發器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 定義所有分類及其難度\nconst categories = [\n  { name: '入門心法', difficulty: 1, keywords: ['提示詞', '基礎', '入門', '新手', '基本操作'] },\n  { name: '長輩友善', difficulty: 2, keywords: ['簡單', '長輩', '圖形', '手機', '日常'] },\n  { name: '生活應用', difficulty: 2, keywords: ['旅遊', '社交', '生活', '實用', '日常'] },\n  { name: '工作效率', difficulty: 3, keywords: ['工作', '效率', '辦公', '生產力', '報告'] },\n  { name: '進階技巧', difficulty: 5, keywords: ['進階', 'API', '開發', '複雜', '人設'] }\n];\n\n// 根據日期循環選擇分類\nconst today = new Date();\nconst dayOfYear = Math.floor((today - new Date(today.getFullYear(), 0, 0)) / (1000 * 60 * 60 * 24));\nconst selectedIndex = dayOfYear % categories.length;\n\n// 每天選擇 2-3 個分類生成內容\nconst selectedCategories = [categories[selectedIndex]];\nif (dayOfYear % 2 === 0) {\n  selectedCategories.push(categories[(selectedIndex + 1) % categories.length]);\n}\n\nreturn selectedCategories.map(cat => ({ json: cat }));"
      }
    },
    {
      "id": "search-web-resources",
      "name": "搜尋網路資源",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.bing.microsoft.com/v7.0/search",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "Ocp-Apim-Subscription-Key",
                "value": "YOUR_BING_API_KEY"
              }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            { "name": "q", "value": "={{ $json.keywords[0] }} AI 教學 初學者" },
            { "name": "count", "value": "5" },
            { "name": "mkt", "value": "zh-TW" }
          ]
        }
      }
    },
    {
      "id": "extract-resources",
      "name": "提取資源摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const searchResults = $input.all();\nconst resources = [];\n\nsearchResults.forEach(item => {\n  if (item.json.webPages && item.json.webPages.value) {\n    item.json.webPages.value.forEach((page, index) => {\n      resources.push({\n        title: page.name,\n        url: page.url,\n        snippet: page.snippet?.substring(0, 200) || ''\n      });\n    });\n  }\n});\n\nreturn [{ json: { resources: resources.slice(0, 3) } }];"
      }
    },
    {
      "id": "ai-content-generator",
      "name": "AI 內容生成器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo-preview"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"你是一位專業的 AI 教育內容撰寫專家，擅長 SEO 和 AEO 優化。請根據提供的資訊，撰寫符合網站規範的中文教學文章。\"}, {\"role\": \"user\", \"content\": `請為分類「${$json.name}」寫一篇教學文章，難度等級：${$json.difficulty}。參考以下資源：${JSON.stringify($json.resources, null, 2)}。要求：1) 包含完整的 AEO 欄位（seo_title, keywords, search_intent, target_audience, pain_point, scenario, solution, example with wrong/right, faq至少3組, semantic_tags）；2) 內容由淺入深，適合台灣讀者；3) 加入遊戲化元素；4) 以 JSON 格式回應。` }] }}"
            },
            {
              "name": "response_format",
              "value": "{ \"type\": \"json_object\" }"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        }
      }
    },
    {
      "id": "parse-content",
      "name": "解析並格式化內容",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json.choices[0].message.content;\nconst article = JSON.parse(response);\n\n// 生成結構化文章內容\nconst structuredContent = `\n## ${article.title}\n\n### 生活痛點\n${article.pain_point}\n\n### 應用場景\n${article.scenario}\n\n### AI 解決方案\n${article.solution}\n\n### 簡單實例\n#### ❌ 錯誤示範\n${article.example?.wrong || ''}\n\n#### ✅ 正確用法\n${article.example?.right || ''}\n\n### 實作步驟\n<ol>\n<li>第一步：清楚定義你的目標</li>\n<li>第二步：提供充分的背景資訊</li>\n<li>第三步：使用具體、明確的指令</li>\n<li>第四步：根據結果迭代優化</li>\n</ol>\n\n### 常見問題\n${article.faq?.map(f => `#### Q: ${f.question}\\nA: ${f.answer}`).join('\\n\\n')}\n\n### 💡 學習挑戰\n試試看用今天學到的技巧，解決一個你日常遇到的問題！\n\n### 總結\n${article.summary || ''}\n`;\n\nreturn [{\n  json: {\n    category: article.category_suggestion || '入門心法',\n    title: article.title,\n    summary: article.summary || '',\n    content: structuredContent,\n    read_time: `${Math.ceil(structuredContent.length / 500)} 分鐘`,\n    is_published: false, // 預設為待審核狀態\n    seo_title: article.seo_title || '',\n    keywords: article.keywords || [],\n    search_intent: article.search_intent || '',\n    target_audience: article.target_audience || '',\n    pain_point: article.pain_point || '',\n    scenario: article.scenario || '',\n    solution: article.solution || '',\n    example: article.example || null,\n    faq: article.faq || [],\n    semantic_tags: article.semantic_tags || [],\n    difficulty_level: article.difficulty_level || 1,\n    ai_generated: true,\n    created_at: new Date().toISOString(),\n    published_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "quality-check",
      "name": "品質檢查",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const article = $input.first().json;\nconst issues = [];\n\n// 檢查必填欄位\nif (!article.title || article.title.length < 10) issues.push('標題太短');\nif (!article.seo_title || article.seo_title.length < 20) issues.push('SEO標題太短');\nif (!article.keywords || article.keywords.length < 3) issues.push('關鍵詞不足3個');\nif (!article.faq || article.faq.length < 3) issues.push('FAQ不足3組');\nif (!article.pain_point || article.pain_point.length < 20) issues.push('痛點描述太短');\nif (!article.solution || article.solution.length < 50) issues.push('解決方案太短');\n\n// 檢查內容長度\nconst contentLength = article.content?.length || 0;\nif (contentLength < 500) issues.push('內容太短（<500字）');\n\n// 檢查是否有遊戲化元素\nif (!article.content.includes('挑戰') && !article.content.includes('學習')) {\n  issues.push('缺少遊戲化元素');\n}\n\nconst articleWithCheck = {\n  ...article,\n  quality_issues: issues,\n  quality_score: Math.max(0, 100 - issues.length * 10),\n  needs_review: issues.length > 0\n};\n\nreturn [{ json: articleWithCheck }];"
      }
    },
    {
      "id": "dedup-check",
      "name": "重複檢查",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2000, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=id,seo_title,keywords&or=(seo_title.eq.{{ $json.seo_title }},keywords.cs.{ {{ $json.keywords[0] } }},keywords.cs.{ {{ $json.keywords[1] } }})",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "YOUR_SUPABASE_ANON_KEY"
              }
            ]
          }
        }
      }
    },
    {
      "id": "duplicate-filter",
      "name": "過濾重複文章",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [2220, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-duplicate",
              "leftValue": "={{ $json.body?.length || 0 }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "insert-to-supabase",
      "name": "存入待審區",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2440, 200],
      "parameters": {
        "method": "POST",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights",
        "options": {
          "headers": {
            "headers": [
              {
                "name": "apikey",
                "value": "YOUR_SUPABASE_ANON_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "read_time", "value": "={{ $json.read_time }}" },
            { "name": "is_published", "value": "false" },
            { "name": "seo_title", "value": "={{ $json.seo_title }}" },
            { "name": "keywords", "value": "={{ JSON.stringify($json.keywords) }}" },
            { "name": "search_intent", "value": "={{ $json.search_intent }}" },
            { "name": "target_audience", "value": "={{ $json.target_audience }}" },
            { "name": "pain_point", "value": "={{ $json.pain_point }}" },
            { "name": "scenario", "value": "={{ $json.scenario }}" },
            { "name": "solution", "value": "={{ $json.solution }}" },
            { "name": "example", "value": "={{ JSON.stringify($json.example) }}" },
            { "name": "faq", "value": "={{ JSON.stringify($json.faq) }}" },
            { "name": "semantic_tags", "value": "={{ JSON.stringify($json.semantic_tags) }}" },
            { "name": "difficulty_level", "value": "={{ $json.difficulty_level }}" },
            { "name": "ai_generated", "value": "true" },
            { "name": "quality_score", "value": "={{ $json.quality_score }}" },
            { "name": "quality_issues", "value": "={{ JSON.stringify($json.quality_issues) }}" },
            { "name": "created_at", "value": "={{ $json.created_at }}" },
            { "name": "published_at", "value": "={{ $json.published_at }}" }
          ]
        }
      }
    },
    {
      "id": "success-notification",
      "name": "發送成功通知",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2660, 200],
      "parameters": {
        "fromEmail": "noreply@dee-website.com",
        "toEmail": "admin@dee-website.com",
        "subject": "=✅ AI 內容生成完成 - {{ $json.title }}",
        "text": "文章已生成並存入待審區\\n\\n標題: {{ $json.title }}\\n分類: {{ $json.category }}\\n難度: {{ $json.difficulty_level }} ★\\n品質分數: {{ $json.quality_score }}\\n\\n請前往後台審核區查看: http://localhost:5173/admin/review"
      }
    }
  ],
  "connections": {
    "每日排程觸發器": {
      "main": [[{ "node": "獲取分類列表", "type": "main", "index": 0 }]]
    },
    "獲取分類列表": {
      "main": [[{ "node": "分類分發器", "type": "main", "index": 0 }]]
    },
    "分類分發器": {
      "main": [[{ "node": "搜尋網路資源", "type": "main", "index": 0 }]]
    },
    "搜尋網路資源": {
      "main": [[{ "node": "提取資源摘要", "type": "main", "index": 0 }]]
    },
    "提取資源摘要": {
      "main": [[{ "node": "AI 內容生成器", "type": "main", "index": 0 }]]
    },
    "AI 內容生成器": {
      "main": [[{ "node": "解析並格式化內容", "type": "main", "index": 0 }]]
    },
    "解析並格式化內容": {
      "main": [[{ "node": "品質檢查", "type": "main", "index": 0 }]]
    },
    "品質檢查": {
      "main": [[{ "node": "重複檢查", "type": "main", "index": 0 }]]
    },
    "重複檢查": {
      "main": [[{ "node": "過濾重複文章", "type": "main", "index": 0 }]]
    },
    "過濾重複文章": {
      "main": [[{ "node": "存入待審區", "type": "main", "index": 0 }]]
    },
    "存入待審區": {
      "main": [[{ "node": "發送成功通知", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Taipei"
  }
}
