n8n-workflows/news-curation.json
{
  "name": "AI 新聞採集與智能篩選系統",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "每日排程觸發器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 200],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 24 }]
        }
      }
    },
    {
      "id": "fetch-news-sources",
      "name": "多源新聞抓取",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200],
      "parameters": {
        "method": "GET",
        "url": "https://news.google.com/rss/search?q=AI+artificial+intelligence+GPT+ChatGPT+machine+learning+深度學習&hl=zh-TW&gl=TW&ceid=TW:zh-Hant",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "xml"
            }
          }
        }
      }
    },
    {
      "id": "parse-rss",
      "name": "解析 RSS 內容",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 解析 Google News RSS XML\nconst rssData = $input.first().json;\nlet newsItems = [];\n\ntry {\n  // RSS 格式處理\n  if (rssData.rss && rssData.rss.channel) {\n    const channel = rssData.rss.channel;\n    const items = channel.item || [];\n    \n    newsItems = items.map(item => ({\n      title: item.title || '',\n      link: item.link || '',\n      description: item.description?.replace(/<[^>]*>/g, '').substring(0, 300) || '',\n      pubDate: item.pubDate || new Date().toISOString(),\n      source: 'Google News'\n    }));\n  }\n} catch (error) {\n  console.error('RSS parsing error:', error);\n}\n\nreturn newsItems.map(item => ({ json: item }));"
      }
    },
    {
      "id": "quality-filter",
      "name": "品質篩選器",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [900, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-title",
              "leftValue": "={{ $json.title?.length || 0 }}",
              "rightValue": "10",
              "operator": { "type": "number", "operation": "larger" }
            },
            {
              "id": "has-description",
              "leftValue": "={{ $json.description?.length || 0 }}",
              "rightValue": "50",
              "operator": { "type": "number", "operation": "larger" }
            },
            {
              "id": "is-recent",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({ hours: 48 }).toISO() }}",
              "operator": { "type": "dateTime", "operation": "after" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "relevance-scoring",
      "name": "相關性評分",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 評估新聞與網站調性的相關性\nconst newsItem = $input.first().json;\n\nconst highPriorityKeywords = ['ChatGPT', 'GPT-4', 'Claude', 'AI 工具', '提示詞', '應用', '教學', '入門', '新手', '使用方法'];\nconst mediumPriorityKeywords = ['機器學習', '深度學習', '人工智慧', 'AI 技術', '研究', '發展'];\nconst lowPriorityKeywords = ['股票', '財報', '併購', '公司', '市場', '投資'];\n\nlet score = 50; // 基礎分\n\n// 高優先級關鍵詞（+20）\nhighPriorityKeywords.forEach(keyword => {\n  if (newsItem.title.includes(keyword) || newsItem.description.includes(keyword)) {\n    score += 20;\n  }\n});\n\n// 中優先級關鍵詞（+10）\nmediumPriorityKeywords.forEach(keyword => {\n  if (newsItem.title.includes(keyword) || newsItem.description.includes(keyword)) {\n    score += 10;\n  }\n});\n\n// 低優先級關鍵詞（-15）\nlowPriorityKeywords.forEach(keyword => {\n  if (newsItem.title.includes(keyword) || newsItem.description.includes(keyword)) {\n    score -= 15;\n  }\n});\n\n// 限制分數範圍\nscore = Math.max(0, Math.min(100, score));\n\n// 判斷是否適合網站\nconst isSuitable = score >= 70;\n\nreturn [{\n  json: {\n    ...newsItem,\n    relevance_score: score,\n    is_suitable: isSuitable,\n    selected_category: score >= 80 ? '高分內容' : score >= 70 ? '中分內容' : '低分內容'\n  }\n}];"
      }
    },
    {
      "id": "filter-suitable",
      "name": "篩選適合內容",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [1340, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "suitable",
              "leftValue": "={{ $json.is_suitable }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ai-article-generator",
      "name": "AI 文章生成器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4-turbo-preview"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"你是專業的 AI 教育內容撰寫專家，擅長將新聞轉化為實用的教學文章。\"}, {\"role\": \"user\", \"content\": `根據以下 AI 新聞，撰寫一篇教學文章：\\n\\n標題：${$json.title}\\n內容：${$json.description}\\n\\n要求：1) 包含完整的 AEO 欄位；2) 介紹實際應用方法，不只是報導；3) 加入遊戲化學習元素；4) 由淺入深；5) JSON 格式回應。` }] }}"
            },
            {
              "name": "response_format",
              "value": "{ \"type\": \"json_object\" }"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        }
      }
    },
    {
      "id": "format-article",
      "name": "格式化文章",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json.choices[0].message.content;\nconst article = JSON.parse(response);\n\n// 生成結構化內容\nconst content = `\n## ${article.title}\n\n### 📰 新聞背景\n根據最新 AI 新聞報導，這項技術正在改變我們使用 AI 的方式...\n\n### 生活痛點\n${article.pain_point}\n\n### 應用場景\n${article.scenario}\n\n### AI 解決方案\n${article.solution}\n\n### 簡單實例\n#### ❌ 錯誤示範\n${article.example?.wrong || ''}\n\n#### ✅ 正確用法\n${article.example?.right || ''}\n\n### 實作步驟\n${Array.from({length: 4}, (_, i) => `<li>第${i+1}步：根據新聞內容的實際應用方法</li>`).join('\\n')}\n\n### 常見問題\n${article.faq?.map(f => `#### Q: ${f.question}\\nA: ${f.answer}`).join('\\n\\n')}\n\n### 💡 學習挑戰\n試試看用今天學到的新技術，解決一個你日常遇到的問題！\n\n### 總結\n${article.summary || ''}\n`;\n\nreturn [{\n  json: {\n    category: article.category_suggestion || '生活應用',\n    title: article.title,\n    summary: article.summary || '',\n    content: content,\n    read_time: `${Math.ceil(content.length / 500)} 分鐘`,\n    is_published: false, // 待審核狀態\n    seo_title: article.seo_title || '',\n    keywords: article.keywords || [],\n    search_intent: article.search_intent || '',\n    target_audience: article.target_audience || '',\n    pain_point: article.pain_point || '',\n    scenario: article.scenario || '',\n    solution: article.solution || '',\n    example: article.example || null,\n    faq: article.faq || [],\n    semantic_tags: [...(article.semantic_tags || []), 'AI新聞', '最新技術'],\n    difficulty_level: article.difficulty_level || 2,\n    ai_generated: true,\n    news_source_link: $input.first().json.link,\n    relevance_score: $input.first().json.relevance_score,\n    created_at: new Date().toISOString(),\n    published_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "quality-validation",
      "name": "內容品質驗證",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const article = $input.first().json;\nconst validation = {\n  valid: true,\n  warnings: [],\n  errors: []\n};\n\n// 必填欄位檢查\nconst requiredFields = ['title', 'seo_title', 'keywords', 'pain_point', 'scenario', 'solution', 'example', 'faq'];\nrequiredFields.forEach(field => {\n  if (!article[field] || (Array.isArray(article[field]) && article[field].length === 0)) {\n    validation.errors.push(`缺少必填欄位: ${field}`);\n    validation.valid = false;\n  }\n});\n\n// 內容長度檢查\nif (article.content?.length < 500) {\n  validation.warnings.push('內容長度較短（<500字）');\n}\n\n// FAQ 數量檢查\nif (article.faq?.length < 3) {\n  validation.warnings.push('FAQ 數量少於 3 組');\n}\n\n// 關鍵詞檢查\nif (article.keywords?.length < 3) {\n  validation.warnings.push('關鍵詞少於 3 個');\n}\n\nreturn [{\n  json: {\n    ...article,\n    validation: validation,\n    validation_passed: validation.valid\n  }\n}];"
      }
    },
    {
      "id": "deduplication",
      "name": "重複檢查",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2220, 200],
      "parameters": {
        "method": "GET",
        "url": "=https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights?select=id,title,seo_title&or=(title.eq.{{ $json.title }},seo_title.eq.{{ $json.seo_title }})",
        "options": {
          "headers": {
            "headers": [
              { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" }
            ]
          }
        }
      }
    },
    {
      "id": "filter-duplicates",
      "name": "過濾重複內容",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [2440, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "not-duplicate",
              "leftValue": "={{ $json.body?.length || 0 }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "save-to-queue",
      "name": "存入待審區",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2660, 200],
      "parameters": {
        "method": "POST",
        "url": "https://fnymjffskndfgcpcydsh.supabase.co/rest/v1/insights",
        "options": {
          "headers": {
            "headers": [
              { "name": "apikey", "value": "YOUR_SUPABASE_ANON_KEY" },
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Prefer", "value": "return=representation" }
            ]
          }
        },
        "bodyParameters": {
          "parameters": [
            { "name": "category", "value": "={{ $json.category }}" },
            { "name": "title", "value": "={{ $json.title }}" },
            { "name": "summary", "value": "={{ $json.summary }}" },
            { "name": "content", "value": "={{ $json.content }}" },
            { "name": "read_time", "value": "={{ $json.read_time }}" },
            { "name": "is_published", "value": "false" },
            { "name": "seo_title", "value": "={{ $json.seo_title }}" },
            { "name": "keywords", "value": "={{ JSON.stringify($json.keywords) }}" },
            { "name": "search_intent", "value": "={{ $json.search_intent }}" },
            { "name": "target_audience", "value": "={{ $json.target_audience }}" },
            { "name": "pain_point", "value": "={{ $json.pain_point }}" },
            { "name": "scenario", "value": "={{ $json.scenario }}" },
            { "name": "solution", "value": "={{ $json.solution }}" },
            { "name": "example", "value": "={{ JSON.stringify($json.example) }}" },
            { "name": "faq", "value": "={{ JSON.stringify($json.faq) }}" },
            { "name": "semantic_tags", "value": "={{ JSON.stringify($json.semantic_tags) }}" },
            { "name": "difficulty_level", "value": "={{ $json.difficulty_level }}" },
            { "name": "ai_generated", "value": "true" },
            { "name": "news_source_link", "value": "={{ $json.news_source_link }}" },
            { "name": "relevance_score", "value": "={{ $json.relevance_score }}" },
            { "name": "validation", "value": "={{ JSON.stringify($json.validation) }}" },
            { "name": "created_at", "value": "={{ $json.created_at }}" },
            { "name": "published_at", "value": "={{ $json.published_at }}" }
          ]
        }
      }
    },
    {
      "id": "summary-report",
      "name": "生成執行報告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// 統計本次執行的結果\nconst allInputs = $input.all();\nconst savedArticles = allInputs.filter(item => item.json.id).length;\n\nreturn [{\n  json: {\n    summary: {\n      total_processed: allInputs.length,\n      articles_saved: savedArticles,\n      timestamp: new Date().toISOString(),\n      status: savedArticles > 0 ? 'success' : 'no_new_content'\n    }\n  }\n}];"
      }
    },
    {
      "id": "send-notification",
      "name": "發送通知郵件",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [3100, 200],
      "parameters": {
        "fromEmail": "noreply@dee-website.com",
        "toEmail": "admin@dee-website.com",
        "subject": "=📰 AI 新聞採集完成 - {{ $json.summary.articles_saved }} 篇新文章",
        "text": "AI 新聞採集系統已完成今日任務\\n\\n處理結果：\\n- 總共處理: {{ $json.summary.total_processed }} 項\\n- 成功保存: {{ $json.summary.articles_saved }} 篇\\n\\n請前往後台審核區查看: http://localhost:5173/admin/review"
      }
    }
  ],
  "connections": {
    "每日排程觸發器": {
      "main": [[{ "node": "多源新聞抓取", "type": "main", "index": 0 }]]
    },
    "多源新聞抓取": {
      "main": [[{ "node": "解析 RSS 內容", "type": "main", "index": 0 }]]
    },
    "解析 RSS 內容": {
      "main": [[{ "node": "品質篩選器", "type": "main", "index": 0 }]]
    },
    "品質篩選器": {
      "main": [[{ "node": "相關性評分", "type": "main", "index": 0 }]]
    },
    "相關性評分": {
      "main": [[{ "node": "篩選適合內容", "type": "main", "index": 0 }]]
    },
    "篩選適合內容": {
      "main": [[{ "node": "AI 文章生成器", "type": "main", "index": 0 }]]
    },
    "AI 文章生成器": {
      "main": [[{ "node": "格式化文章", "type": "main", "index": 0 }]]
    },
    "格式化文章": {
      "main": [[{ "node": "內容品質驗證", "type": "main", "index": 0 }]]
    },
    "內容品質驗證": {
      "main": [[{ "node": "重複檢查", "type": "main", "index": 0 }]]
    },
    "重複檢查": {
      "main": [[{ "node": "過濾重複內容", "type": "main", "index": 0 }]]
    },
    "過濾重複內容": {
      "main": [[{ "node": "存入待審區", "type": "main", "index": 0 }]]
    },
    "存入待審區": {
      "main": [[{ "node": "生成執行報告", "type": "main", "index": 0 }]]
    },
    "生成執行報告": {
      "main": [[{ "node": "發送通知郵件", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "timezone": "Asia/Taipei"
  }
}
